.post .post_content .post_daohang{
    position: absolute;
    top: 1rem;
    left: 50%;
    width: 3.6rem;
    height: 0.4rem;
    transform: translateX(-50%);
}
.post .post_content .post_daohang li{
    float: left;
    width: 30%;
    margin-left: 3%;
    list-style: none;
    text-align: center;
    height: 0.32rem;
    background: -webkit-gradient(linear,left top, right top,from(#b0b0b0),to(#a6a2a0));
    background: linear-gradient(left,#b0b0b0,#a6a2a0);
    border-radius: 0.05rem;
    padding-top: 0.08rem;
    color:#fff;
    font-size: 0.1rem;
}
.post .post_content .post_daohang li:first-of-type{
    border-bottom:2px solid #ffd300;
}
.post .post_content .post_daohang li:nth-of-type(2){
    border-bottom:2px solid #fc743b;
}
.post .post_content .post_daohang li:last-of-type{
    border-bottom:2px solid #4daafb;
}
.post .post_content .post_daohang li i{
    display:inline-block;
    width:0.25rem;
    height:0.25rem;
    vertical-align: -7px;
    margin-right: 0.1rem;
}
.post .post_content .post_daohang li .wonA_icon{
    width: 0.27rem;
    height: 0.23rem;
    background:url(../images/btn2_bg.png);
    background-size:100% 100%;
}
.post .post_content .post_daohang li .life_icon{
    background:url(../images/btn3_bg.png);
    background-size:100% 100%;
}
.post .post_content .post_daohang li .tech_icon{
    background:url(../images/btn4_bg.png);
    background-size:100% 100%;
}
/*帖子*/
.post_three .post_area{
    position: absolute;
    top: 1.3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 3.6rem;
    height: auto;
}
.post_three .post_area .post{
    position: relative;
    width: 3.6rem;
    height: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 0.08rem;
    -webkit-box-shadow: 0rem 0.1rem 0.1rem #ccc;
    box-shadow: 0rem 0.1rem 0.1rem #ccc;
    margin-top:0.25rem;
    background:#fff;
}
.post_three .post_area .bg_gonggao{
    background: -webkit-linear-gradient(left,#f67751 ,#ee583c); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left,#f67751 ,#ee583c); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left,#f67751 ,#ee583c); /* Firefox 3.6 - 15 */
    background: linear-gradient(left,#f67751 ,#ee583c); /* 标准的语法 */
}
.post_three .post_area .post .dian1{
    width: 0.06rem;
    height: 0.06rem;
    background: #ffd300;
    position: absolute;
    top: 0.05rem;
    left: 0.05rem;
    border-radius: 0.03rem;
    box-shadow: 0 0.02rem 0.05rem #ffd300;
}
.post_three .post_area .post .dian2{
    width: 0.06rem;
    height: 0.06rem;
    position: absolute;
    top: 0.05rem;
    left: 0.05rem;
    border-radius: 0.03rem;
    background:#fc743b;
    box-shadow: 0 0.02rem 0.05rem #fc743b;
}
.post_three .post_area .post .dian3{
    width: 0.06rem;
    height: 0.06rem;
    position: absolute;
    top: 0.05rem;
    left: 0.05rem;
    border-radius: 0.03rem;
    background:#4daafb;
    box-shadow: 0 0.02rem 0.05rem #4daafb;
}
.post_three .post_area .post .content{
    display: flex;
}
.post_three .post_area .post .text_area{
    flex: 2;
    margin: 0.15rem;
}
.post_three .post_area .post .pic_area{
    flex: 1;
    width: 1rem;
    height: 0.7rem;
    margin-top: 0.065rem;
    margin-right: 0.065rem;
}
.post_three .post_area .post .text_area .text_disc{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.post_three .post_area .post .text_area .time{
    position: absolute;
    left:0.15rem;
    bottom:0.15rem;
    color:#b0b0b0;
}
.post_three .post_area .post .text_area .time_gonggao{
    color:#fff;
}
.post_three .post_area .post .text_area .huifu{
    float: right;
    margin-top: 0.06rem;
}
.post_three .post_area .post .text_area .huifu img{
    width:0.24rem;
}
.post_three .post_area .bottom{
    width: 3.6rem;
    height: 1rem;
}
/*帖子*/